* {
    box-sizing: border-box;
    margin: 0 auto; /*auto로 하면 저절로 가운데 정렬이 된다*/
    padding: 0;
}

header {
    height: 40px;
    background-color: #3b5998;
    overflow: hidden;
}

.containerhd {
    width: 1024px;
}

.search {
    float: left;
}

.button {
    float: right;
}

section {
    background-color: #e9ebee;
    overflow: hidden;
}

.containerst {
    width: 1024px;
}

.menu {
    width: 185px;
    height: 630px;
    float: left;
}

.cover-image {
    width: 820px;
    height: 364px;
    float: right;
}

.newsfeed {
    width: 496px;
    height: 321px;
    float: right;
    margin-right: 18px;
}

.advertise {
    width: 306px;
    height: 372px;
    float: right;
}